<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Уровень логирования для приложения (можно выбрать DEBUG, INFO, WARN, ERROR) -->
    <root level="DEBUG">
        <!-- Вывод логов в консоль -->
        <appender-ref ref="CONSOLE"/>
        <!-- Вывод логов в файл -->
        <appender-ref ref="FILE"/>
    </root>

    <!-- Настройка вывода в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка вывода логов в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>